@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100:800&family=Roboto:wght@100;800&display=swap');

body {
    width: 80%;
    background: #FDFEFF;
    margin: 0 auto;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.customer_box span::before{
    content: '';
       display: inline-block;
       width: 50px;
       height: 50px;
       -moz-border-radius: 27.5px;
       -webkit-border-radius: 27.5px;
       border-radius: 27.5px;
       background-color:lightgray;
       margin-right: 20px;
       float: left;
}

.register_section {
    background: #2CA7F4;
    background-repeat: repeat-y;
    color: white;
    height: 400px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.register_section > .title {
    flex: 0.8;
}

.register_section p {
    color: #fff;
}

.column-list ul {
    display: flex;
    flex-wrap: wrap;
}

.register_now {
    height: 50px;
    width: 200px;
    background: transparent;
    color: white;
    border: 1px solid white;
    font-size: 18px;
    border-radius: 10px;
}

nav > column {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/* nav */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    font-size: 16px;
    font-weight: 400;
    margin: 20px;
    list-style: none;
    text-decoration: none;
}

nav ul li:first-child {
    color: black;
    font-weight: 600;
}

.list_item a {
    list-style: none;
    text-decoration: none;
    color: gray
}

.register-now a {
    list-style: none;
    text-decoration: none;
    color: #2B9FF3;
}

.register-now {
    border: 2px solid #2B9FF3;
    color: #2B9FF3;
    padding: 15px;
    width: 150px;
    color: black;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
}

/* title */

h1 {
    font-size: 48px;
    font-weight: bold;
}

/* main  */

.main {
    display: flex;
    flex-wrap: wrap;
}

.title-box {
    flex: 1;
}

.qa-image {
    display: flex;
    flex: 1;
}

.support {
    display: flex;
    flex: 1;
}

.services-list { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.services_box {
    width: 45%;
    padding: 10px;
    margin: 20px;
}

.services_box p {
    color: gray;
}

.choose_package {
    background-color: #288FF1;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    border: 0;
    width: 200px;
    font-size: 16px;
    font-weight: 800;
}

p {
    color: gray;
    line-height: 40px;
    padding-top: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.services-title {
   display: flex;
    justify-content: center;
    align-items: center;
}

.services-title h1 {
    width: 65%;
    padding: 50px;
}

.bar {
    display: none;
}

.title_content {
    float: left;
    width: 40%;
}

.pricing {
    background: #2B9FF3;
    color: white;
    padding: 50px;
}

.pricing h1 {
    text-align: center;
    padding: 50px;
}

.price_list_boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.pricing-list {
    background: white;
    color: #000;
    padding: 0px 0px 20px 0px;
    border-radius: 20px;
    text-align: center;
}

.pricing-list h2 {
    font-size: 32px;
    padding: 10px;
}

.default_plan {
    background: black;
    color: white;
    padding: 18px;
    border-radius: 20px;
    padding: 20px 20px 20px 20px;
}

.fa-check {
    color: green;
    border: 2px solid green;
    border-radius: 100%;
    padding: 2px;
    margin-right: 10px;
}

.pack_list {
    text-align: left;
    list-style: none;
    margin: 10px;
}

.price_tag {
    font-size: 32px;
    font-weight: bold;
}

.monthly {
    color: gray;
}

.pricing-list ul {
    padding: 20px;
    height: 200px;
}

.choose_price_plan {
    border: 1px solid #288FF1;
    color: #288FF1;
    background: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    font-size: 16px;
    font-weight: 800;
}

.default_price_plan > .choose_price_plan {
    border: 1px solid #288FF1;
    color: #fff;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
    font-size: 16px;
    font-weight: 800;
}

.customers h2 {
    font-size: 42px;
    text-align: center;
    padding-top: 100px;
}

.customers-brief {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.customer_box {
    width: 600px;
    margin: 10px;
    border: 1px solid gray;
    padding: 10px;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.column-list ul {
    display: flex;
    flex-direction: column;
}

footer > nav {
    align-items: baseline;
}

.social_list {
    display: flex;
    flex-direction:row;
    width: 400px;
}

.social_icons {
    margin: 5px;
    padding: 15px;
    border: 0;
    background: #267EEE;
    color: #fff;
    border-radius: 100px;
}

@media screen and (max-width:600px) {

    h1 {
        font-size: 24px;
    }

    body{
        margin: 5% auto;
    }

    nav ul{
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column;
    }

    .poster-image {
        width: 100%;
    }

    .qa-image {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    .title-box {
        flex: 1;
        display: flex;
        flex-direction: column-reverse;
    }

    .bar {
        display: block;
    }

    .services-title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .services_box {
        width: 95%;
        padding: 10px;
        margin: 20px;
    }

    .support {
        display: flex;
        flex-direction: column-reverse;
        flex: 1;
    }

    /* pricing mobile screen */

    .price_list_boxes {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .pricing-list {
    background: white;
    color: #000;
    padding: 0px 0px 20px 0px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.pack_list {
    text-align: left;
    list-style: none;
    margin: 5px;
    line-height: 40px;
}
.pricing-list ul {
    padding: 20px;
    height: auto;
}


.register_section {
    background: #2CA7F4;
    background-repeat: repeat-y;
    color: white;
    height:auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}

.column-list {
    display: none;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding: 20px;
    text-align: center;
}

    .title_content {
        float: left;
        width: 100%;
    }
}